<h1>blogpots ram</h1>

{{#each techpost as |blogpost|}}
<div>
  <p>
    {{blogpost.id}}.
    {{blogpost.title}}.

  </p>
</div>
<div>
  <p>
    {{blogpost.description}}
    <!-- guest_name will eventually go here -->
  </p>
  <p>
    {{blogpost.date_created}}
    <!-- guest_name will eventually go here -->
  </p>
</div>
<!-- Below, we close the #each helper. -->

{{/each}}