<h1>blogpots ram</h1>

{{#each ram as |techpost|}}
<div>
  <p>
    {{techpost.id}}.
    {{techpost.title}}.

  </p>
</div>
<div>
  <p>
    {{techpost.description}}
    <!-- guest_name will eventually go here -->
  </p>
  <p>
    {{techpost.date_created}}
    <!-- guest_name will eventually go here -->
  </p>
</div>
<!-- Below, we close the #each helper. -->

{{/each}}