{{#each blogpost as |Techblogpost|}}
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
    <div class="dish col-md-5">
      <!-- We use dish.id instead of <od> and <li> elements. -->
      <p>
        {{blogpost.title}}.
        
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{blogpost.description}}
        <!-- guest_name will eventually go here -->
      </p>
    </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}
</div>